/* GLOBALES */

:root {
    --colorPrimario: #9d0208;
    --colorSecundario: #473507;
    --colorTerciario: #020918;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

header {
    background-image: linear-gradient(-45deg, rgba(255, 0, 0, 0.048), rgba(44, 13, 13, 0.726)), url(../img/bg-04.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-10 {
    margin-bottom: 10px;
    color: cornsilk;
    text-shadow: rgb(39, 36, 24) 2px 2px 3px, rgb(49, 43, 20) 4px 4px 8px, rgb(49, 43, 20) 4px 4px 12px, rgb(39, 36, 24) -2px -2px 6px;
}


/* contenido principal */

.sponsors {
    background-image: linear-gradient(-45deg, rgba(255, 0, 0, 0.048), rgba(44, 13, 13, 0.726)), url(../img/bg-sponsors.jpg);
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 1px;
    animation: mostrar 0.9s ease-in-out both;
    padding: 30px 0;
    background-color: cornsilk;
}

.card {
    width: 23% !important;
    background-color: rgba(223, 227, 231, 0.199);
    box-shadow: #03071e 6px 6px 10px;
    padding: 0!important;
    margin: 10px;
    border: 2px solid white;
    color: cornsilk;
}

.bg-danger {
    background-color: var(--colorPrimario) !important;
    color: rgb(223, 223, 11)!important;
    text-transform: capitalize;
    font-size: 40px;
}

.bg-warning {
    background-color: var(--colorSecundario) !important;
}

.bg-dark {
    background-color: var(--colorTerciario) !important;
}


/* footer */

.footer {
    background-image: linear-gradient(45deg, rgba(12, 12, 199, 0.247), black);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: var(--colorTerciario) !important;
    padding: 20px 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

.titulos-programadores {
    color: var(--colorSecundario);
}

.programadores {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px 0px;
    color: cornsilk;
}

.card-text>a {
    color: rgb(57, 189, 17);
    text-decoration: none;
    margin-left: .5rem;
    text-shadow: black 1px 1px 2px, black 1px 1px 10px;
}

.card-text>a:hover {
    color: rgb(223, 243, 39);
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 750px) {
    .card {
        width: 22% !important;
    }
    .bg-danger {
        font-size: 30px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 80% !important;
    }
    header {
        background-size: cover;
        background-repeat: no-repeat;
        height: 50vh;
        background-position: right;
    }
    .mt-10 {
        margin-top: 40px;
    }
    .bg-danger {
        font-size: 25px;
    }
    .programadores {
        flex-direction: column;
        align-items: center;
    }
    .logoit {
        width: 100px;
    }
}


/* ANIMACIONES */

@keyframes mostrar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pintar {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}